 {% extends "base.html" %}
{% load static %}

  {% block title %} Favorite Event {% endblock %}

  {% block stylesheets %}
	    <link href="{% static 'event/css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


{% endblock stylesheets %}
<style>
p.c {
  white-space: pre;

    height: 120px;
}
.column{
 padding-right :10px;
}

</style>
  {% block content %}
	<div id="header">
		<div class="area">
			<div id="logo" >
				<a href="index.html"><img src="{% static 'event/images/logo.png'%}" alt="LOGO" height="86" width="170" /></a>
			</div>
			<ul id="navigation">
					<li>
					 {% if user.is_authenticated %}
                        <li><a href="{% url 'event:fav-event' %}" class="btn btn-default btn-rounded"> Favorite Events</a></li>

        <li><a href="{% url 'event:logout' %}" class="btn btn-default btn-rounded"> ({{ request.user.username }}) Logout</a></li>
          {% else %}
        <li><a href="{% url 'event:login' %}" class="btn btn-default btn-rounded">+ Login</a></li>
         {% endif %}

				</li>
<li>

<form class="example form-inline" action=" " style="margin:auto;max-width:300px" method="get" >
           <div class="row">  <div class="col-6">  <input type="text" name="q" placeholder="Enter Keyword" value="{{ request.GET.q }}" class="form-control" required></div><div class="col-6" >
  <button type="submit" class="btn btn-primary" style="float:right; height: 39px;"><i class="fa fa-search"></i></button></div> </div>
</form>
</li>
            </ul>
        </div></div>


      </div></div>
    {% for msg in messages %}

               <h1> {{msg}}</h1>
         {% endfor %}
<div id="contents">
		<div id="adbox">



<section  style="padding-left:85px;">
	<form  name="myForm"  action=" " method="get" onsubmit="return validateForm()">
<select id="filterstate"  class="form-select" aria-label="Disabled select example" >
  <option value="0" >Filter By</option>
	    <option value="category">Category</option>
    <option  value="range_value">Date Range</option>
</select><a href="{% url 'event:home' %} ">Back</a>
            <div class="row">
				 <div class="col" >
                      <select class="form-control" id="CategoryId" name="category" style="width:30%">
 <option  value="" selected="selected">--select--</option>
  {% for cat in category_list %}
   <option value="{{org.id}}">{{cat.name|capfirst}}</option>
  {% endfor %}
</select> </div>


    <div class="col range-date" style="width:20%;" >
		  <label for="startdate">Startdate:</label>
		<input type="datetime-local" id="startdate" name="startdate"></div>
					   <div class="col range-date" style="width:20%;">
						   <label for="enddate">End date:</label>
					   <input type="datetime-local" id="enddate" name="enddate">

					   </div>
			</div>
		<br>
<center><button  name="submit" id="submit" type="submit" value="submit">submit</button></center>
           <div id="error"></div>
</form>
</section></div>
			<div class="area"></div>
			<ul><h1><span><center>Liked Events</center></span></h1>
					 {% for i in object_list %}

						<div  id="eventbox" style="height: 300px;">
                            <h2><span style="text-decoration: underline;padding-left:10px; ">{{ i.event }}</span></h2>
                            <div class="row">
						<div class="column"><img src="{{ i.event.cover.url}}"  alt="Img" height="200" width="250" style="padding-right: 20px;" /></div>
                            <div  class="column">
							<h3 style="font:15px/24px 'Abel-Regular';"><span>Created Date:</span>  {{ i.created_on }}</h3>





                        </div>      </div>
					{% endfor %}




</div>



 {% endblock %}

{% block javascripts %}
  <script>
  $(document).ready(function () {
   $(".range-date").hide();
 $("#CategoryId").hide();
 $("#submit").hide();
    toggleFields();
       $("#filterstate").change(function () {
        toggleFields();
    });

});
function toggleFields() {
  if ($("#filterstate").val() === "range_value"){

         $(".range-date").show();
          $("#submit").show();
          $("#CategoryId").hide();

}
    else if  ($("#filterstate").val() === "category"){
        $("#CategoryId").show();
        $("#submit").show();
         $(".range-date").hide();
}
    else{
        $("#CategoryId").hide();
         $("#range-date").hide();
         $("#submit").hide();

}
}


function validateForm() {
  var errors = [];

  var filterstate = $("#filterstate").val();
  var CategoryId = $("#CategoryId").val();
  var startdate = $("#startdate").val();
  var enddate = $("#enddate").val();

  if (filterstate === "") {
   alert("Check filteration");
   return false
  }

  if (filterstate === "category") {
  if( CategoryId=== ""){
   alert("Category  can't be blank");
  }
   return false
}
 if (filterstate === "range_value"){
 if( startdate=== "" && enddate==="") {
 alert("Date  can't be blank");
}
return false
}
else

  return true
}

    </script>
{% endblock javascripts %}


	<div id="footer">
		<span class="divider"></span>
		<div class="area">
			<div id="connect">
				<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a> <a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="mail"></a> <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
			</div>
			<p>
				© 2023 AZ Logistics. All Rights Reserved.
			</p>
		</div>
	</div>
