{% extends "base.html" %}

  {% block title %}  My test page   {% endblock %}

  {% block content %}

    <ul>
    {% for i in event_list %}
        <li><a href="#">{{ i.title }}</a></li>
        <li><img src="{{ i.cover.url}}"  alt="Img" height="100" width="100" /></li>
        <li><a href="#">{{ i.location }}</a></li>
        <li><a href="#">{{ i.startdate }}</a></li>
        <li><a href="#">{{ i.enddate }}</a></li>
        <li><a href="#">{{ i.category }}</a></li>

     {% if user.is_authenticated %}
        <li><a href="">Logout</a></li>
          {% else %}
        <li><a href="">Login</a></li>
         {% endif %}
    {% endfor %}
    </ul>
 {% endblock %}

