{% extends "base.html" %}
{% load static %}
  {% block title %} Event List{% endblock %}

   {% block stylesheets %}
	    <link href="{% static 'event/css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


{% endblock stylesheets %}
<style>
p.c {
  white-space: pre;
    width: 240px;
    height: 120px;
}
}

</style>


  {% block content %}
	<div id="header">
		<div class="area">
			<div id="logo">
				<a href="index.html"><img src="{% static 'event/images/logo.png'%}" alt="LOGO" height="86" width="170" /></a>
			</div>

			<ul id="navigation">
					<li>
					 {% if user.is_authenticated %}
        <li><a href="{% url 'event:logout' %}" class="btn btn-default btn-rounded"> ({{ request.user.username }}) Logout</a></li>
          {% else %}
        <li><a href="{% url 'event:login' %}" class="btn btn-default btn-rounded">+ Login</a></li>
         {% endif %}

				</li>
<li>

<form class="example form-inline" action=" " style="margin:auto;max-width:300px" method="get" >{% csrf_token %}
                <input type="text" name="q" placeholder="Enter Keyword" value="{{ request.GET.q }}" class="form-control">
  <button type="submit" style="float: right;"><i class="fa fa-search"></i></button>
</form>
</li>
            </ul>
        </div></div>
<section>
	<form action=" " method="get" >
	Filter by :<select id="filterstate">
    <option value="0" >select</option>
	    <option value="category">Category</option>
    <option  value="range_value">Date Range</option>
</select><a href="{% url 'event:home' %} ">Back</a>
            <div class="row">
				 <div class="col" >
                      <select class="form-control" id="CategoryId" name="category" style="width:30%">
 <option  value="" selected="selected">--select--</option>
  {% for org in category_list %}
   <option value="{{org.id}}">{{org.name|capfirst}}</option>
  {% endfor %}
</select> </div>


    <div class="col range-date" style="width:20%;" >
		  <label for="startdate">Startdate:</label>
		<input type="datetime-local" id="startdate" name="startdate"></div>
					   <div class="col range-date" style="width:20%;">
						   <label for="enddate">End date:</label>
					   <input type="datetime-local" id="enddate" name="enddate">

					   </div>
			</div>
		<br>
<center><button type="submit" value="submit" id="submit">submit</button></center>
</form>
</section></div>


<div id="contents">
		<div id="adbox">

			<div class="area"></div>
			<ul><h1><span><center><b style="text-decoration: underline;">Current Event</b></center></span></h1>
					 {% for i in event_list %}
					<li>
						<div id="eventbox" style="height: 250px;">
							<h2><span style="text-decoration: underline; ">{{ i.title }}</span></h2><br>
							<img src="{{ i.cover.url}}"  alt="Img" height="100" width="150" />
                        <p class="c" style=" width: 240px;height: 120px;}">{{ i.description }}</p>
							<h3 style="font:15px/24px 'Abel-Regular';"><span>Venue:</span>  {{ i.location }}</h3>
							<h3 style="font:15px/24px 'Abel-Regular';"><span>Category:</span>  {{ i.category }}</h3>
							<p><span>Date : {{ i.startdate|date:'d/m/Y ' }} - {{ i.enddate|date:'d/m/Y ' }}</span>	</p>



	<div class="container-1 left">
   <div class="f-card content">
<!--      <h2>{{i.created_on}}</h2>-->
<!--      <p>{{i.name}}.</p>-->
      <div class="text-left">
         <span class="pointer">
            {% if request.user in i.likes.users.all%}
            <!-- already liked-->
            <a href="{% url 'event:event_reaction' comment_id=i.pk option='like' %}"> <i
               data-toggle="tooltip" data-placement="bottom" title="Unlike"
               class="like fas fa-thumbs-up pr-2">
            <span>{{i.get_total_likes}}</span>
            </i>
            </a>
            {% else %}
            <!--not liked-->
            <a href="{% url 'event:event_reaction' comment_id=i.pk option='like' %}"><i
               data-toggle="tooltip" data-placement="bottom" title="Like" style="color:gray;"
               class="default-icon fas fa-thumbs-up pr-2 info">
            <span> {% if i.get_total_likes  %}{{i.get_total_likes}} {% else %} 0
            {% endif %}</span></i>
            </a>
            {% endif %}
         </span>
         <span class="ml-3 pointer">
         {% if request.user in i.dis_likes.users.all %}
         <a href="{% url 'event:event_reaction' comment_id=i.pk option='dis_like' %}"><i
            data-toggle="tooltip" data-placement="bottom" title="i remove dislike this"
            class="dislike fas fa-thumbs-down pr-2">
         <span>{{i.get_total_dis_likes}}</span></i>
         </a>
         {% else %}
         <a href="{% url 'event:event_reaction' comment_id=i.pk option='dis_like' %}"><i
            data-toggle="tooltip" data-placement="bottom" title="i dislike this " style="color:gray;"
            class="default-icon fas fa-thumbs-down pr-2">
         <span>{% if  i.get_total_dis_likes %}{{i.get_total_dis_likes}}
         {% else %} 0 {% endif %}</span></i>
         </a>
         {% endif %}
         </span>
                      {% if i.published == False %}

                     {% if request.user not in i.booked.users.all %}

             <form action="{% url 'event:create-checkout-session' i.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Checkout</button>
                    </form>  {% endif  %}
          {% endif  %}

      </div>
      <p class="text-right">{{i.user.first_name}} {{i.user.last_name}}.
         {% if i.user == request.user  %}
         <span><a class="circle-card" href="{"><i class="fas fa-edit"></i></a></span>
         {% endif %}
      </p>

   </div>
</div>		</div>

					</li>
					{% endfor %}

				</ul>
			</div>
{% if is_paginated %}
<div class="pagination pagination-centered">
    <ul>
        {% if page_obj.has_previous %}
<li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if page_obj.has_next %}
<li><a href="?page={{ page_obj.number }}">{{i}}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
<li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}

    </ul>
</div>
{% endif %}


		</div>

			</div>



 {% endblock %}

{% block javascripts %}
  <script>
  $(document).ready(function () {
   $(".range-date").hide();
 $("#CategoryId").hide();
 $("#submit").hide();
    toggleFields();
       $("#filterstate").change(function () {
        toggleFields();
    });

});
function toggleFields() {
  if ($("#filterstate").val() === "range_value"){

         $(".range-date").show();
          $("#submit").show();
          $("#CategoryId").hide();

}
    else if  ($("#filterstate").val() === "category"){
        $("#CategoryId").show();
        $("#submit").show();
         $(".range-date").hide();
}
    else{
        $("#CategoryId").hide();
         $("#range-date").hide();
         $("#submit").hide();

}
}

<!--   $('#filter-data').hide();-->
    </script>
{% endblock javascripts %}
