{% extends "base.html" %}
{% load static %}
  {% block title %} Event List{% endblock %}

   {% block stylesheets %}
	    <link href="{% static 'event/css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


{% endblock stylesheets %}
<style>
p.c {
  white-space: pre;

    height: 120px;
}
.column{
 padding-right :20px;
}

</style>


  {% block content %}
	<div id="header">
		<div class="area">
			<div id="logo" class="alert alert-warning"><strong>Showing only current Event,For any event search</strong>

			</div>
			<ul id="navigation">
					<li>
					 {% if user.is_authenticated %}
        <li><a href="{% url 'event:logout' %}" class="btn btn-default btn-rounded"> ({{ request.user.username }}) Logout</a></li>
          {% else %}
        <li><a href="{% url 'event:login' %}" class="btn btn-default btn-rounded">+ Login</a></li>
         {% endif %}

				</li>
<li>

<form class="example form-inline" action=" " style="margin:auto;max-width:300px" method="get" >{% csrf_token %}
                <input type="text" name="q" placeholder="Enter Keyword" value="{{ request.GET.q }}" class="form-control">
  <button type="submit" style="float: right;"><i class="fa fa-search"></i></button>
</form>
</li>
            </ul>
        </div></div>

<div id="contents">
		<div id="adbox">
<section>
	<form  name="myForm"  action=" " method="get" onsubmit="return validateForm()">
	Filter by :<select id="filterstate">
    <option value="0" >select</option>
	    <option value="category">Category</option>
    <option  value="range_value">Date Range</option>
</select><a href="{% url 'event:home' %} ">Back</a>
            <div class="row">
				 <div class="col" >
                      <select class="form-control" id="CategoryId" name="category" style="width:30%">
 <option  value="" selected="selected">--select--</option>
  {% for cat in category_list %}
   <option value="{{org.id}}">{{cat.name|capfirst}}</option>
  {% endfor %}
</select> </div>


    <div class="col range-date" style="width:20%;" >
		  <label for="startdate">Startdate:</label>
		<input type="datetime-local" id="startdate" name="startdate"></div>
					   <div class="col range-date" style="width:20%;">
						   <label for="enddate">End date:</label>
					   <input type="datetime-local" id="enddate" name="enddate">

					   </div>
			</div>
		<br>
<center><button  name="submit" id="submit" type="submit" value="submit">submit</button></center>
           <div id="error"></div>
</form>
</section></div>
			<div class="area"></div>
			<ul><h1><span><center><img src="{% static 'event/images/events.jpg'%}" alt="current Events" height="96" width="200" /></center></span></h1>
					 {% for i in event_list %}
					<li>

						<div  id="eventbox" style="height: auto;">
                            <h2><span style="text-decoration: underline;padding-left:20px; ">{{ i.title }}</span></h2>
                            <div class="row">
						<div class="column"><img src="{{ i.cover.url}}"  alt="Img" height="200" width="250" style="padding-right: 20px;" /></div>
                            <div  class="column">
                        <p class="c">{{ i.description }}</p>
							<h3 style="font:15px/24px 'Abel-Regular';"><span>Venue:</span>  {{ i.location }}</h3>
							<h3 style="font:15px/24px 'Abel-Regular';"><span>Category:</span>  {{ i.category }}</h3>
							<p><span>Date : {{ i.startdate|date:'d/m/Y ' }} - {{ i.enddate|date:'d/m/Y ' }}</span>	</p>



	<div class="container-1 left">
   <div class="f-card content">
<!--      <h2>{{i.created_on}}</h2>-->
<!--      <p>{{i.name}}.</p>-->
      <div class="text-left" style="width:240px ;height :30px;">
         <span class="pointer">
            {% if request.user in i.likes.users.all%}
            <!-- already liked-->
            <a href="{% url 'event:event_reaction' comment_id=i.pk option='like' %}"> <i
               data-toggle="tooltip" data-placement="bottom" title="Unlike"
               class="like fas fa-thumbs-up pr-2">
            <span>{{i.get_total_likes}}</span>
            </i>
            </a>
            {% else %}
            <!--not liked-->
            <a href="{% url 'event:event_reaction' comment_id=i.pk option='like' %}"><i
               data-toggle="tooltip" data-placement="bottom" title="Like" style="color:gray;"
               class="default-icon fas fa-thumbs-up pr-2 info">
            <span> {% if i.get_total_likes  %}{{i.get_total_likes}} {% else %} 0
            {% endif %}</span></i>
            </a>
            {% endif %}
         </span>
         <span class="ml-3 pointer">
         {% if request.user in i.dis_likes.users.all %}
         <a href="{% url 'event:event_reaction' comment_id=i.pk option='dis_like' %}"><i
            data-toggle="tooltip" data-placement="bottom" title="i remove dislike this"
            class="dislike fas fa-thumbs-down pr-2">
         <span>{{i.get_total_dis_likes}}</span></i>
         </a>
         {% else %}
         <a href="{% url 'event:event_reaction' comment_id=i.pk option='dis_like' %}"><i
            data-toggle="tooltip" data-placement="bottom" title="i dislike this " style="color:gray;"
            class="default-icon fas fa-thumbs-down pr-2">
         <span>{% if  i.get_total_dis_likes %}{{i.get_total_dis_likes}}
         {% else %} 0 {% endif %}</span></i>
         </a>
         {% endif %}
         </span>
                      {% if i.published == False %}

                     {% if request.user in i.booked.users.all %}


                   <button type="button">Booked</button>
            {% else %}
<!--                       <button type="submit">-->
<!--                  <a href="{% url 'event:create-checkout-session' i.id  %}">Book  &#x20b9;500</a></button>-->
             <form action="{% url 'event:create-checkout-session' i.id %}" method="POST">   {% csrf_token %}
                                         <button type="submit" style="color:blue;">Book  &#x20b9;500</button>
             </form>


          {% endif  %}
          {% endif  %}

      </div>
      <p class="text-right">{{i.user.first_name}} {{i.user.last_name}}.
         {% if i.user == request.user  %}
         <span><a class="circle-card" href="{"><i class="fas fa-edit"></i></a></span>
         {% endif %}
      </p>

   </div>
</div>		</div>

                        </div>      </div></li>
					{% endfor %}

				</ul>




<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


</div>



 {% endblock %}

{% block javascripts %}
  <script>
  $(document).ready(function () {
   $(".range-date").hide();
 $("#CategoryId").hide();
 $("#submit").hide();
    toggleFields();
       $("#filterstate").change(function () {
        toggleFields();
    });

});
function toggleFields() {
  if ($("#filterstate").val() === "range_value"){

         $(".range-date").show();
          $("#submit").show();
          $("#CategoryId").hide();

}
    else if  ($("#filterstate").val() === "category"){
        $("#CategoryId").show();
        $("#submit").show();
         $(".range-date").hide();
}
    else{
        $("#CategoryId").hide();
         $("#range-date").hide();
         $("#submit").hide();

}
}


function validateForm() {
  var errors = [];

  var filterstate = $("#filterstate").val();
  var CategoryId = $("#CategoryId").val();
  var startdate = $("#startdate").val();
  var enddate = $("#enddate").val();

  if (filterstate === "") {
   alert("Check filteration");
   return false
  }

  if (filterstate === "category") {
  if( CategoryId=== ""){
   alert("Category  can't be blank");
  }
   return false
}
 if (filterstate === "range_value"){
 if( startdate=== "" && enddate==="") {
 alert("Date  can't be blank");
}
return false
}
else

  return true
}

    </script>
{% endblock javascripts %}
